﻿@model Shop.Models.Weather.OpenWeatherModel

<h1>Forecasted Weather for: </h1>
<br />
<div class="container">
    <div class="form-group col-md-3">
        <h2>@Model.City</h2>
        <br />



        <nobr>
            <label asp-for="MainTemp">Temperature:</label>
            <span class="badge">@Model.MainTemp C</span>
            <br />

            <label asp-for="MainFeelsLike">Temperature Feels Like:</label>
            <span class="badge">@Model.MainFeelsLike C</span>
            <br />

            <label asp-for="Humidity">Humidity:</label>
            <span class="badge">@Model.Humidity %</span>
            <br />

            <label asp-for="Pressure">Pressure:</label>
            <span class="badge">@Model.Pressure Hpa</span>
            <br />
        
            <label asp-for="WindSpeed">Wind Speed:</label>
            <span class="badge">@Model.WindSpeed m/s</span>
            <br />

            <label asp-for="WeatherDescription">Weather Condition: </label>
            <span class="badge">@Model.WeatherDescription</span>
        </nobr>
        <br />
    </div>

    <div class="container">
        <div class="form-group col-md-offset-3 col-md-5">
            <button onclick="history.go(-1)" class="btn btn-primary">Return</button>
        </div>
    </div>
</div>